<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LibAllocine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LibAllocine.Properties.Settings>
            <setting name="UrlRechercheAllocine" serializeAs="String">
                <value>http://api.allocine.fr/rest/v3/search</value>
            </setting>
            <setting name="UrlInfosFilmAllocine" serializeAs="String">
                <value>http://api.allocine.fr/rest/v3/{0}?{1}&amp;sig={2}</value>
            </setting>
            <setting name="RepertoireTemp" serializeAs="String">
                <value>C:/Temp/</value>
            </setting>
            <setting name="UrlRechercheJVC" serializeAs="String">
                <value>https://ws.jeuxvideo.com/search_n/{0}</value>
            </setting>
            <setting name="UrlInfosJeuJVC" serializeAs="String">
                <value>https://ws.jeuxvideo.com/01.jeux/details/{0}.xml</value>
            </setting>
            <setting name="LoginJVC" serializeAs="String">
                <value>appandr</value>
            </setting>
            <setting name="PasswordJVC" serializeAs="String">
                <value>e32!cdf</value>
            </setting>
            <setting name="UrlObtenirFicheJVC" serializeAs="String">
                <value>https://ws.jeuxvideo.com/01.jeux/{0}.xml</value>
            </setting>
            <setting name="EnteteXML" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="ISO-8859-1"?&gt;</value>
            </setting>
            <setting name="UrlScreenshotsJVC" serializeAs="String">
                <value>http://ws.jeuxvideo.com/01.jeux/screen/{0}.xml</value>
            </setting>
            <setting name="FormatRecherche" serializeAs="String">
                <value>json</value>
            </setting>
            <setting name="ParamsRechercheAllocine" serializeAs="String">
                <value>partner=100043982026&amp;q={0}&amp;format=json&amp;filter={2}&amp;sed={1}&amp;count=10&amp;page=1</value>
            </setting>
            <setting name="SecretKeyAllocine" serializeAs="String">
                <value>29d185d98c984a359e6e6f26a0474269</value>
            </setting>
            <setting name="ParamsInfosFilmAllocine" serializeAs="String">
                <value>partner=100043982026&amp;code={0}&amp;profile=medium&amp;format=json&amp;filter={2}&amp;sed={1}&amp;striptags=synopsis,synopsisshort</value>
            </setting>
        </LibAllocine.Properties.Settings>
    </applicationSettings>
</configuration>